<section
  id="floor-list"
  class="mb-3 flex h-[50px] w-full items-center justify-between rounded-xl bg-white px-3"
>
  <div class="flex items-center gap-2">
    <ng-container *ngFor="let floor of [1, 2, 3]">
      <button
        type="button"
        class="flex h-[35px] w-[110px] items-center justify-center rounded-full text-[12px] font-normal {{
          floor === floorActive
            ? 'border border-solid border-blue-500 text-blue-500'
            : 'bg-neutral-100 text-neutral-500'
        }}"
        (click)="onSelectFloor(floor)"
      >
        {{ floor === 1 ? "1st" : floor === 2 ? "2nd" : "3rd" }} Floor
      </button>
    </ng-container>
  </div>

  <div class="flex items-center gap-2">
    <div
      class="relative flex h-[35px] items-center justify-center rounded-full bg-neutral-100 duration-200 ease-in-out transition-all overflow-hidden {{
        isShowSearch ? 'w-[225px]' : 'w-[35px]'
      }}"
    >
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Search ..."
        class="h-[25px] w-[200px] border-none bg-transparent pl-6 text-[12px] font-normal text-neutral-500 outline-none {{
          isShowSearch ? 'opacity-100 z-10' : 'opacity-0 -z-10'
        }}"
        [(ngModel)]="search"
        (keyup)="onSearch()"
      />
      <svg-icon
        src="icons/magnifaying-glasses.svg"
        class="absolute h-auto w-[15px] text-neutral-900 duration-200 ease-in-out transition-all {{
          isShowSearch ? 'left-2' : 'left-1/2 -translate-x-1/2'
        }}"
        (click)="onShowSearch()"
      ></svg-icon>
    </div>
    <div
      class="relative flex h-[35px] items-center justify-center rounded-full bg-neutral-100 duration-200 ease-in-out transition-all overflow-hidden {{
        isShowFilter ? 'w-[225px]' : 'w-[35px]'
      }}"
    >
      <select
        name="filter"
        id="filter"
        [value]="filterStatus"
        class="h-[25px] w-[200px] border-none bg-transparent pl-6 text-[12px] font-normal text-neutral-500 outline-none relative {{
          isShowFilter ? 'opacity-100 z-10' : 'opacity-0 -z-10'
        }}"
        (change)="onSelectFilterStatus($event)"
      >
        <option value="" hidden>Select status</option>
        <option value="available">Available</option>
        <option value="served">Served</option>
        <option value="reserved">Reserved</option>
      </select>
      <svg-icon
        src="icons/funnel.svg"
        class="absolute h-auto w-[15px] text-neutral-900 duration-200 ease-in-out transition-all {{
          isShowFilter ? 'left-2' : 'left-1/2 -translate-x-1/2'
        }}"
        (click)="onShowFilter()"
      ></svg-icon>
    </div>
    <div
      class="relative flex h-[35px] w-[35px] items-center justify-center overflow-hidden rounded-full bg-red-50 transition-all duration-200 ease-in-out"
      (click)="onRemoveFilter()"
    >
      <svg-icon
        src="icons/trash.svg"
        class="absolute h-auto w-[15px] text-red-500"
      ></svg-icon>
    </div>
  </div>
</section>

<section
  id="table-list"
  class="no-scrollbar mb-3 max-h-[calc(100vh-194px)] w-full overflow-y-auto rounded-xl bg-white px-3"
>
  <ng-container *ngFor="let grouped of groupedTableList | keyvalue">
    <div
      class="w-full border-b border-solid border-neutral-200 py-3 last:border-none"
    >
      <h1 class="mb-2 text-[13px] font-medium text-neutral-500">
        {{ grouped.key }} Persons Table
      </h1>
      <div class="grid w-full grid-cols-6 gap-2">
        <ng-container *ngFor="let table of grouped.value">
          <div
            class="relative aspect-[1/1.1] w-full rounded-xl {{
              table.status === 'served'
                ? 'bg-blue-50'
                : table.status === 'reserved'
                  ? 'bg-red-50'
                  : 'bg-neutral-100'
            }}"
            (click)="onShowTableModal(table)"
          >
            <div class="mb-2 mt-4 flex justify-center">
              <div
                class="flex h-[30px] w-[55%] items-center justify-center rounded-full text-[13px] font-normal {{
                  table.status === 'served'
                    ? 'text-white bg-blue-500'
                    : table.status === 'reserved'
                      ? 'text-white bg-red-500'
                      : 'text-gray-500 bg-white'
                }}"
              >
                {{ table.table }}
              </div>
            </div>
            <div
              class="w-full px-2 text-center text-[11px] font-normal {{
                table.status === 'served'
                  ? 'text-blue-500'
                  : table.status === 'reserved'
                    ? 'text-red-500'
                    : 'text-gray-500'
              }}"
            >
              <ng-container *ngIf="table.customerName">
                <span class="font-semibold">{{ table.customerName }}:</span>
              </ng-container>

              {{ table.customerCount }} Guest
            </div>
            <div
              class="absolute bottom-2 left-0 flex w-full justify-center text-[11px] font-normal text-neutral-500"
            >
              {{ table.time || "--:--" }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</section>

<section
  id="table-status"
  class="flex h-[50px] w-full items-center justify-between rounded-xl bg-white px-3"
>
  <h1 class="text-[13px] font-semibold text-neutral-900">Table Status</h1>

  <div class="flex items-center gap-12">
    <div
      class="relative flex items-center text-[13px] font-semibold text-neutral-900 before:absolute before:left-[-15px] before:aspect-square before:w-[7px] before:rounded-full before:bg-neutral-300"
    >
      Available
    </div>
    <div
      class="relative flex items-center text-[13px] font-semibold text-neutral-900 before:absolute before:left-[-15px] before:aspect-square before:w-[7px] before:rounded-full before:bg-blue-500"
    >
      Served
    </div>
    <div
      class="relative flex items-center text-[13px] font-semibold text-neutral-900 before:absolute before:left-[-15px] before:aspect-square before:w-[7px] before:rounded-full before:bg-red-500"
    >
      Reserved
    </div>
  </div>
</section>

<section
  id="table-modal"
  class="fixed left-0 top-0 flex h-screen w-full items-center justify-center bg-black/50 duration-100 ease-linear transition-all {{
    isShowTableModal ? 'opacity-100 z-50' : 'opacity-0 -z-10'
  }}"
>
  <div class="w-[300px] overflow-hidden rounded-lg bg-white">
    <h1
      class="mt-3 w-full px-5 text-center text-[14px] font-semibold text-neutral-900"
    >
      {{ tableSelected.table }}
    </h1>

    <div class="mt-2 w-full px-5">
      <label for="#status-tmp" class="text-[11px] font-normal text-neutral-900"
        >Status</label
      >
      <select
        name="status-tmp"
        id="status-tmp"
        [(ngModel)]="statusTmp"
        class="flex h-[35px] w-full items-center rounded-lg border border-solid border-neutral-200 bg-white px-3 text-[11px] font-normal text-neutral-500 outline-none"
      >
        <option value="served">Served</option>
        <option value="reserved">Reserved</option>
      </select>
    </div>

    <div class="mt-2 w-full px-5">
      <label
        for="#customer-name"
        class="text-[11px] font-normal text-neutral-900"
        >Customer Name</label
      >
      <input
        id="customer-name"
        name="customer-name"
        placeholder="Ex: John Doe"
        type="text"
        class="flex h-[35px] w-full items-center rounded-lg border border-solid border-neutral-200 px-3 text-[11px] font-normal text-neutral-500 outline-none"
        [(ngModel)]="customerNameTmp"
      />
    </div>

    <div class="mt-2 w-full px-5">
      <label
        for="#customer-count"
        class="text-[11px] font-normal text-neutral-900"
        >Cutomer Count</label
      >
      <input
        id="customer-count"
        name="customer-count"
        type="text"
        placeholder="Ex: 2"
        class="flex h-[35px] w-full items-center rounded-lg border border-solid border-neutral-200 px-3 text-[11px] font-normal text-neutral-500 outline-none"
        inputmode="numeric"
        [(ngModel)]="customerCountTmp"
        (keyup)="onFormatCustomerCountTmp()"
      />
    </div>

    <ng-container *ngIf="statusTmp === 'reserved'">
      <div class="mt-2 w-full px-5">
        <label for="#time-tmp" class="text-[11px] font-normal text-neutral-900"
          >Time</label
        >
        <input
          id="time-tmp"
          name="time-tmp"
          type="time"
          class="flex h-[35px] w-[100px] items-center justify-between rounded-lg border border-solid border-neutral-200 px-3 text-[11px] font-normal text-neutral-500 outline-none"
          [(ngModel)]="timeTmp"
        />
      </div>
    </ng-container>

    <div
      class="mt-5 flex h-[60px] w-full items-center justify-center gap-3 bg-neutral-100"
    >
      <button
        type="button"
        class="flex h-[30px] w-[40%] items-center justify-center gap-3 rounded bg-white shadow-md disabled:opacity-50"
        (click)="onHideTableModal()"
        [disabled]="isSubmitting"
      >
        <svg-icon src="icons/x-mark.svg" class="w-[13px]"></svg-icon>
        <span class="text-[11px] font-normal leading-[0px] text-neutral-900"
          >Close</span
        >
      </button>
      <button
        type="button"
        class="flex h-[30px] w-[40%] items-center justify-center gap-3 rounded shadow-md disabled:opacity-50 {{
          statusTmp === 'served' ? 'bg-blue-500' : 'bg-red-500'
        }}"
        (click)="onTableSubmit()"
        [disabled]="isSubmitting"
      >
        <svg-icon src="icons/check.svg" class="w-[13px] text-white"></svg-icon>
        <span class="text-[11px] font-normal leading-[0px] text-white"
          >Submit</span
        >
      </button>
    </div>
  </div>
</section>
