<div class="flex w-full">
  <div class="relative flex-1 overflow-hidden p-2">
    <nav class="mb-3 flex w-full items-center justify-between">
      <div class="flex items-center gap-3">
        <div
          class="flex aspect-square w-[40px] items-center justify-center rounded-full bg-white"
        >
          <svg-icon
            src="icons/bars.svg"
            class="h-auto w-[23px] text-blue-500"
          ></svg-icon>
        </div>
        <div
          class="flex h-[40px] items-center gap-3 rounded-full bg-white pl-[6px] pr-5"
        >
          <div
            class="flex aspect-square w-[30px] items-center justify-center rounded-full bg-blue-50"
          >
            <svg-icon
              src="icons/calendar.svg"
              class="h-auto w-[15px] text-blue-500"
            ></svg-icon>
          </div>
          <span class="text-[12px] font-medium text-neutral-900"
            >Wed, 29 May 2024</span
          >
        </div>
        <svg-icon
          src="icons/minus.svg"
          class="h-auto w-[13px] text-neutral-900"
        ></svg-icon>
        <div
          class="flex h-[40px] items-center gap-3 rounded-full bg-white pl-[6px] pr-5"
        >
          <div
            class="flex aspect-square w-[30px] items-center justify-center rounded-full bg-blue-50"
          >
            <svg-icon
              src="icons/clock.svg"
              class="h-auto w-[15px] text-blue-500"
            ></svg-icon>
          </div>
          <span class="text-[12px] font-medium text-neutral-900">07:59 AM</span>
        </div>
      </div>

      <div class="flex items-center gap-3">
        <div
          class="flex h-[40px] items-center gap-5 rounded-full bg-white pl-8 pr-[6px]"
        >
          <div
            class="relative flex items-center text-[12px] font-medium text-green-700 before:absolute before:left-[-15px] before:aspect-square before:w-[7px] before:rounded-full before:bg-green-600"
          >
            Open Order
          </div>

          <div
            class="flex aspect-square w-[30px] items-center justify-center rounded-full bg-green-50"
          >
            <svg-icon
              src="icons/power.svg"
              class="h-auto w-[15px] text-green-800"
            ></svg-icon>
          </div>
        </div>
      </div>
    </nav>

    <section
      id="category-list"
      class="no-scrollbar mb-2 flex w-full items-center gap-2 overflow-x-auto"
    >
      <ng-container *ngFor="let category of dummySvc.categoryList">
        <div
          class="flex aspect-square w-[110px] shrink-0 flex-col justify-between rounded-lg bg-white p-2"
        >
          <div
            class="flex aspect-square w-[35px] items-center justify-center rounded-full bg-neutral-100"
          >
            <svg-icon
              [src]="category.icon"
              class="h-auto w-[20px] text-neutral-500"
            ></svg-icon>
          </div>

          <div class="block">
            <h1
              class="mb-1 text-[13px] font-medium capitalize text-neutral-900"
            >
              {{ category.name }}
            </h1>
            <p
              class="text-[12px] font-normal text-neutral-500"
              *ngIf="category.name === 'all menu'"
            >
              {{ orderSvc.productList.length }} items
            </p>
            <p
              class="text-[12px] font-normal text-neutral-500"
              *ngIf="category.name !== 'all menu'"
            >
              {{ onGetTotalProduct(category.name) }} items
            </p>
          </div>
        </div>
      </ng-container>
    </section>

    <section
      id="search-container"
      class="relative mb-2 flex h-[45px] w-full items-center rounded-full bg-white px-4"
    >
      <input
        type="text"
        placeholder="Search something sweet on your mind"
        class="w-full border-none pr-8 text-[12px] font-normal text-neutral-500 outline-none"
      />
      <div
        class="absolute right-2 flex aspect-square w-[35px] items-center justify-center rounded-full bg-neutral-100"
      >
        <svg-icon
          src="icons/magnifaying-glasses.svg"
          class="h-auto w-[20px] text-neutral-500"
        ></svg-icon>
      </div>
    </section>

    <section
      id="product-list"
      class="no-scrollbar grid max-h-[calc(100vh-240px)] w-full grid-cols-4 gap-2 overflow-y-auto"
    >
      <ng-container *ngFor="let product of orderSvc.productList">
        <div
          class="w-full rounded-xl bg-white p-[6px]"
          (click)="onShowProductDetailModal(product)"
        >
          <div
            class="mb-2 flex aspect-[67/55] w-full items-center justify-center rounded-lg bg-neutral-100"
          >
            <svg-icon
              src="icons/photo.svg"
              class="w-[20%] text-neutral-500"
            ></svg-icon>
          </div>

          <h1 class="mb-2 text-[13px] font-medium capitalize text-neutral-900">
            {{ product.name }}
          </h1>

          <div class="flex items-center justify-between">
            <div
              class="flex h-[18px] items-center justify-center rounded-full px-2 {{
                setCategoryBgColor(product.category)
              }}"
            >
              <span
                class="text-[9px] font-medium capitalize {{
                  setCategoryTextColor(product.category)
                }}"
                >{{ product.category }}</span
              >
            </div>

            <h2 class="text-[14px] font-medium text-neutral-900">
              {{ product.price | formatCurrency: "short" }}
            </h2>
          </div>
        </div>
      </ng-container>
    </section>

    <section
      id="product-detail-modal"
      class="absolute left-0 top-0  flex h-screen w-full items-center justify-center bg-blue-500/10 duration-200 ease-linear transition-all {{
        orderSvc.isShowProductDetailModal
          ? 'z-20 opacity-100'
          : '-z-10 opacity-0'
      }}"
    >
      <div class="h-auto w-[320px] overflow-hidden rounded-xl bg-white">
        <div
          class="relative mb-2 flex h-[45px] w-full items-center justify-center border-b border-dashed border-neutral-200"
        >
          <h1 class="text-[13px] font-medium text-neutral-900">Detail Menu</h1>

          <button
            type="button"
            class="absolute right-2 flex aspect-square w-[30px] items-center justify-center rounded-full bg-red-50"
            (click)="onHideProductDetailModal()"
          >
            <svg-icon
              src="icons/x-mark.svg"
              class="w-[15px] text-red-500"
            ></svg-icon>
          </button>
        </div>

        <div class="no-scrollbar max-h-[500px] w-full overflow-y-auto px-2">
          <div
            class="mb-2 flex h-[170px] w-full items-center justify-center rounded-xl bg-neutral-100"
          >
            <svg-icon
              src="icons/photo.svg"
              class="w-[20%] text-neutral-500"
            ></svg-icon>
          </div>

          <div
            class="mb-2 flex h-[18px] w-fit items-center justify-center rounded-full px-2 {{
              setCategoryBgColor(orderSvc.productSelected.category)
            }}"
          >
            <span
              class="text-[9px] font-medium capitalize {{
                setCategoryTextColor(orderSvc.productSelected.category)
              }}"
              >{{ orderSvc.productSelected.category }}</span
            >
          </div>

          <h2 class="text-[14px] font-semibold text-neutral-900">
            {{ orderSvc.productSelected.name }}
          </h2>
          <p class="mb-2 text-[13px] font-medium text-neutral-500">
            {{ orderSvc.productSelected.description }}
          </p>

          <h3 class="mb-2 text-[16px] font-semibold text-blue-500">
            {{ orderSvc.productSelected.price | formatCurrency: "full" }}
          </h3>

          <textarea
            name="note-order"
            id="note-order"
            class="mb-3 h-[70px] w-full rounded-xl border-none bg-neutral-100 p-2 text-[12px] font-normal text-neutral-500 outline-none"
            placeholder="add notes to your order..."
            [(ngModel)]="orderSvc.productSelected.note"
          ></textarea>

          <div
            class="mb-2 flex w-full items-center justify-between rounded-full bg-neutral-100 p-1"
          >
            <button
              type="button"
              class="flex aspect-square w-[30px] items-center justify-center rounded-full bg-white"
              (click)="onDecreaseAmountProductDetailModal()"
            >
              <svg-icon
                src="icons/minus.svg"
                class="w-[15px] text-neutral-900"
              ></svg-icon>
            </button>
            <span class="text-[14px] font-medium text-neutral-900">{{
              orderSvc.productSelected.amount
            }}</span>
            <button
              type="button"
              class="flex aspect-square w-[30px] items-center justify-center rounded-full bg-white"
              (click)="onIncreaseAmountProductDetailModal()"
            >
              <svg-icon
                src="icons/plus.svg"
                class="w-[15px] text-neutral-900"
              ></svg-icon>
            </button>
          </div>
        </div>
        <button
          type="button"
          class="flex h-[40px] w-full items-center justify-center bg-blue-500"
          (click)="onAddCart()"
        >
          <span class="text-[12px] font-normal text-white"
            >Add to cart ({{
              orderSvc.productSelected.amount * orderSvc.productSelected.price
                | formatCurrency: "full"
            }})</span
          >
        </button>
      </div>
    </section>

    <section
      id="note-global-modal"
      class="absolute left-0 top-0  flex h-screen w-full items-center justify-center bg-blue-500/10 duration-200 ease-linear transition-all {{
        orderSvc.isShowGlobalNoteModal ? 'z-20 opacity-100' : '-z-10 opacity-0'
      }}"
    >
      <div class="h-auto w-[320px] overflow-hidden rounded-xl bg-white">
        <div
          class="relative mb-2 flex h-[45px] w-full items-center justify-center border-b border-dashed border-neutral-200"
        >
          <h1 class="text-[13px] font-medium text-neutral-900">Note Global</h1>

          <button
            type="button"
            class="absolute right-2 flex aspect-square w-[30px] items-center justify-center rounded-full bg-red-50 outline-none"
            (click)="onHideGlobalNotesModal()"
          >
            <svg-icon
              src="icons/x-mark.svg"
              class="w-[15px] text-red-500"
            ></svg-icon>
          </button>
        </div>

        <div class="no-scrollbar max-h-[500px] w-full overflow-y-auto px-2">
          <textarea
            name="note-order"
            id="note-order"
            class="mb-3 h-[150px] w-full rounded-xl border-none bg-neutral-100 p-2 text-[12px] font-normal text-neutral-500 outline-none"
            placeholder="add global notes to your order..."
            [(ngModel)]="orderSvc.globalNotesTmp"
          ></textarea>
        </div>
        <button
          type="button"
          class="flex h-[40px] w-full items-center justify-center bg-blue-500"
          (click)="onSaveGlobalNotes()"
        >
          <span class="text-[12px] font-normal text-white">Save</span>
        </button>
      </div>
    </section>
  </div>

  <app-side-order></app-side-order>
</div>
